/* Aupa Autobusak - gure CSS pertsonalisatua */

/* Desplazamendu-barra WebKiten oinarritutako web-nabigatzaileetan pertsonalizatzeko kodea */
::-webkit-scrollbar {
width: 7px;
background: transparent;
}

::-webkit-scrollbar-thumb {
background: #bc926b;
border-radius: 5px;
}


/* Web-orritik modu fluidoan mugitzeko kodea */
html {
    scroll-behavior: smooth;
}


/* Desplazamendu-barra Geckoren oinarritutako web-nabigatzaileetan pertsonalizatzeko kodea */
html {
    scrollbar-width: thin;
    scrollbar-color: #bc926b #f3f3f3;
}

::selection {
    background: rgba(255 255 0);
}
